@font-face {
    font-family: SmashFont;
    src: url(../font/smashfont.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(../font/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(../font/EBGaramond-Medium.ttf);
}

.page_wrapper{
  background-color: rgb(0, 0, 0);
    background-image: url(../img/pagewrapperbackground.png);
}

/* Top Bar */
#div_top_bar {
    width: 100%;
    height: 8em;
/*    background-color: rgb(128, 0, 0);*/
    background-image: url(../img/bannerbackground.png);
    border-bottom: white solid 3px;
}

/* Div for Smash Logo */
#div_smashlogo {
    width: 6%;
    height: 8em;
/*    background-color: aqua;*/
    display: grid;
    align-content: center;
    float: left;
    margin-left: 22em;
}

/* The img file for Smash Logo */
#div_smashlogo img {
    width: 6em;
    height: 6em;
    filter: brightness(900%);
}

/* Div for Smash Title Header */
#div_smashtitle {
    width: 52.1%;
    height: 8em;
    float: left;
    display: grid;
    align-content: center;
/*    background-color: blue;*/
}

/* Super Smash Bros Title */

#div_smashtitle h1 {
    font-size: 35pt;
    font-family: SmashFont;
    margin-left: 0.3em;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
}

/* Page Title*/
#page_title{
  text-align: center;
    color: rgb(255, 255, 255);
    font-family: EBGaramond;
}

/* Body Section */
section{
  width: 90%;
  margin: 0 auto;
  display: grid;
  /* grid-gap: 1em; */
  grid-template-columns: 30% auto;
border: 1px solid rgb(0, 0, 0);

}

/* Body Navigation Bar */
nav {
  display: table;
  width: auto;
  height: 10em;
/*  border-right: 1px solid rgb(100, 109, 115);*/

}

#nav_side_container{
  display: table-row;
}

.nav_side {
  list-style-type: none;
  margin: 0;
  width: auto;
    height: 4em;
  padding: 0.5em;
  text-align: center;
    display: grid;
    align-content: center;
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
    font-size: 18pt;
    border: white solid 3px;
background-image: url(../img/charactercategory.png);
    filter: brightness(200%);
    font-family: RobotoSlab;
}

.nav_side:hover{
  background-color: rgb(193, 155, 210);
    background-image: url(../img/hover.png);
    filter: brightness(90%);
    text-shadow: 3px 3px 3px white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Character Lists */

#div_char_container{
background-color: rgb(95, 100, 109);
    background-image: url(../img/characterselectionbackground2.png);
/*    filter: brightness(110%);*/
    font-size: 18pt;
    border: 3px solid rgb(255, 255, 255);

}

#container{
  list-style-type: none;
  display: grid;
  grid-column-gap: auto;
  grid-row-gap: 1em;
  grid-template-columns: auto auto auto;
  padding: 1em;
}

/* Class for character images */
.img_char{
  display: block;
  width: 5em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(255, 255, 255);
}

/* Class for character names */
.name_char{
  text-align: center;
    color: rgb(255, 215, 0);
    text-shadow: black 3px 3px 3px;
    font-family: EBGaramond;
    font-size: 18pt;
}

/* Lights up when you hover over character */
.div_char:hover {
    color: rgb(0, 0, 0);
    background-image: url(../img/hover.png);
}

/* Lights up when you hover over character name */
.name_char:hover {
    color: rgb(0, 0, 0);
}
